/* modal effect 1:  slide and stick to top */

.md-effect-1 {
  top: 0;
  transform: translateX(-50%);
}

.md-effect-1 .md-content {
  transform: translateY(-200%);
  transition: all .3s;
  opacity: 0;
}

.md-show.md-effect-1 .md-content {
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}