/* modal effect 1:  3D sign */

.md-effect-1.md-modal {
  perspective: 1300px;
}

.md-effect-1 .md-content {
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
  transform-origin: 50% 0;
  opacity: 0;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  transform: rotateX(0deg);
  opacity: 1;
}