/* ---- start---- rest default style */
/* body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
  font-weight:400;
  margin:0;
  padding:0;
  }
  h1, h2, h3, h4, h4, h5 {
  margin:0;
  padding:0;
  } */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: 0;
}

button {
  font-family: Lato, Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0.6em 1.2em;
  outline-style: none;
}

/* ---- end---- rest default style */